<header id="main-header">
  <% if(locals.isAdmin) { %>
    <p><b>Admin Account</b></p>
  <% } else if (locals.user) { %>
    <p><b>Non-admin User</b></p>
  <% } else {%>
    <p><b>Unauthenticated</b></p>
  <% } %>  
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <% if(!locals.user) { %>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/login">Login</a></li>
      <% } %>
      <% if(locals.isAdmin) { %>
        <li><a href="/admin">Admin</a></li>
      <% } %>
      <% if(locals.user) { %>
        <li><a href="/profile">Profile</a></li>
        <li>
          <a href="/posts">All Posts</a>
        </li>
        <li>
          <a href="/new-post">Create Post</a>
        </li>
        <li>
          <form action="/logout" method="POST">
            <button>Logout</button>
          </form>
        </li>
      <% } %>
    </ul>
  </nav>
  <% if(locals.user) { %>
    <p><%=locals.user.email%></p>
  <% } else {%>
    <p>Guest</p>
  <% } %>
</header>